.card{
    margin-top:30px;
    margin-left:20px;
    width:21rem;
    height:25rem;
    background-color:rgb(254, 253, 253);
    margin-bottom:0.5cm;
    border-width: 0.02cm;
    border-color: rgb(166, 162, 162);
  }
  .card-img-top{
    height:100%;
    border-radius:3px;
    padding:5px 3px;
  }
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  .card-text{
    font-size:14px;
    font-weight:light;
    font-style: italic;
    padding-left: 12px;
    padding-right:8px;
    text-align: left;
  }
  .card-title{
    text-align: left;
    padding-left:12px;
    font-size:24px;
    font-family: "Times New Roman", Times, serif;
  }
  .card-date{
    text-align: left;
    padding-left:12px;
    font-size:14px;
    color:#0d26e9;
  }
  .button {
    background-color: #1f4ae6;
    border: none;
    border-radius:5px;
    color: white;
    padding: 5px 7px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: white; 
    color: black; 
    border: 2px solid #090909;
    float: left;
    margin-left:10px;
  }
  .button:hover {
    background-color:#0b0b0b;
    color: white;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    right: 0.001cm;
    border: 2px solid red;
    padding:2px;
    border-radius: 5px;
    font-size: 12px;
    color: azure;
    background-color: red;
}
  
   
  